* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
}

button {
    margin: 20px;
    padding: 10px;
    background-color: lime;
}

button:hover {
    background-color: green;
}

button:active {
    background-color: darkgreen;
}
